<h2>Gestion</h2>
<ul class="list-group">
    <li class="list-group-item">
        <a href="{{path('article_new')}}">new article</a>
    </li>
    <li class="list-group-item">
        <a href="{{path('article_list')}}">all articles</a>
    </li>
     <li class="list-group-item">
        <a href="{{path('categorie_new')}}">new catégorie</a>
    </li>
    <li class="list-group-item">
        <a href="{{path('article_list')}}">all catégorie</a>
    </li>
</ul>
