{% extends 'back.html.twig' %}

{% block title 'Créer une nouvelle catégorie' %}

{% block bodyback %}


<div class="example-wrapper">
    <h1>Nouvelle Catégorie</h1>

    {{ form(form)  }}
</div>
{% endblock %}
