{% extends "base.html.twig" %}

{% block title "Nous contacter"  %}

{% block body %}
<h1>je suis la page de contact</h1>
<!-- en réalisant l'héritage => base.html.twig
récupérer la barre de développement / profiler  -->
{% endblock %}