{% extends "base.html.twig" %}

{% block title "bienvenue sur mon site"  %}

{% block body %}
<h1>je suis la page d'accueil</h1>
<!-- en réalisant l'héritage => base.html.twig
récupérer la barre de développement / profiler  -->
<p>possible d'afficher liste des routes des disponibles via la commande :</p>
<code>symfony console debug:router</code>
{% endblock %}