{% extends "base.html.twig" %}

{% block title "bienvenue sur mon site"  %}

{% block body %}
<h1>je suis la page d'accueil</h1>
{% endblock %}
<!-- en réalisant l'héritage => base.html.twig
récupérer la barre de développement / profiler  -->