{% extends "base.html.twig" %}


{% block stylesheets %}
<style>
    .sidebar{
        position: -webkit-sticky;
        position: sticky;
        top : 0;
        align-self: flex-start;
    }
</style>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-2 sidebar" >
        {{ include('sidebar/backoffice.html.twig') }}
    </div>
    <div class="col-10">
        {% block bodyback %}{% endblock %}
    </div>
</div>


{% endblock %}

